package templates

import "github.com/mangosirish/paperly/components"

templ IndexView() {
	/*html*/
	<!DOCTYPE html>
	<html lang="en">
		@components.Head()
		<body>
			@components.Header()
			<main class="cards-container">
				@components.Card("Articulos","articles", "#ff9e80")
				@components.Card("Autores", "authors", "#ffcc80")
				@components.Card("Servicio Social","social-service", "#80deea")
				@components.Card("Numeros","journals", "#9580ea")
			</main>
		</body>
	</html>
}
